/* src/components/Seção.css */

.section {
    width: 100%; /* Define a largura da seção como 100% do contêiner pai */
    height: auto; /* A altura se ajusta automaticamente com base no conteúdo */
    padding: 20px; /* Adiciona 20 pixels de espaço interno ao redor do conteúdo */
    background-color: white; /* Define a cor de fundo como branca */
    text-align: center; /* Centraliza o texto dentro da seção */
}


.ad-container {
    display: flex; /* Define o contêiner de anúncios como um contêiner flexível */
    justify-content: center; /* Alinha os anúncios horizontalmente ao centro */
    gap: 20px; /* Adiciona um espaçamento de 20 pixels entre os anúncios */
    flex-wrap: wrap; /* Permite que os anúncios quebrem para a linha seguinte se não houver espaço suficiente */
}

.ad1, .ad2 {
    flex: 1; /* Faz com que os anúncios ocupem o espaço disponível igualmente */
    margin: 10px; /* Adiciona uma margem de 10 pixels ao redor dos anúncios */
    max-width: 400px; /* Define uma largura máxima de 400 pixels para os anúncios */
}


.ad1 img, .ad2 img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura disponível do contêiner */
    height: auto; /* Mantém a proporção original da imagem para evitar distorção */
    max-width: 400px; /* Define uma largura máxima de 400 pixels para a imagem */
    max-height: 400px; /* Define uma altura máxima de 400 pixels para a imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas com raio de 8 pixels à imagem */
    object-fit: cover; /* Garante que a imagem cubra toda a área disponível sem distorção */
}
