*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit,150px) /*1fr 1fr 1fr*/;
    gap: 5px;
    grid-template-areas: 
    'header       header     header      header'
    'sec1         sec1        sec2       sec2'
    'sec1         sec1        sec3       sec3'         
    'art1         art2        sec4       sec4'
    'footer       footer      footer     footer'
    ;
}

header{ grid-area: header;}
.sec1{ grid-area: sec1;}
.sec2{ grid-area: sec2;}
.sec3{ grid-area: sec3;}
.sec4{ grid-area: sec4;}
.art1{ grid-area: art1;}
.art2{ grid-area: art2;}
footer{ grid-area: footer;}


header, section, article, footer{
    background-color: lightgreen;
    border: 2px solid green;
    font-size: 2em;
    color: darkgreen;

}