*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 5px;
    grid-template-areas: 
    'header header header header header header'
    'sec2   sec1   sec1    sec1   sec1   sec3'
    'art1   art1   art1    art2   art2   art2'
    'footer footer footer footer footer footer';
}

header{grid-area: header;}
.sec1{ grid-area: sec1;}
.sec2{ grid-area: sec2;}
.sec3{ grid-area: sec3;}
.art1{ grid-area: art1;}
.art2{ grid-area: art2;}
.footer{grid-area:footer;}

header, section, article, footer{
    border: 3px solid blue;
    background-color: lightblue;
    color: blue;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 1200px){
    .container{
        grid-template-areas: 
        'header header header header header header'
        'sec1   sec1   sec1    sec1   sec1   sec1'
        'sec2   sec2   sec2    sec3   sec3   sec3'
        'art1   art1   art1    art2   art2   art2'
        'footer footer footer footer footer footer';
    }

    header, section, article, footer{
        border: 3px solid green;
        background-color: lightgreen;
        color: darkgreen;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}
@media screen and (max-width: 900px){
    .container{
        grid-template-areas: 
        'header header header header header header'
        'sec1   sec1   sec1    sec2   sec2   sec2'
        'sec3   sec3   sec3    sec3   sec3   sec3'
        'art1   art1   art2    art2   art1   art1'
        'footer footer footer footer footer footer';
    }

    header, section, article, footer{
        border: 3px solid purple;
        background-color: plum;
        color: purple;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}
 
    
@media screen and (max-width: 690px) {
        .container{
            grid-template-areas: 
            'header header '
            'sec1   sec1   '
            'sec2   sec2  '
            'sec3   sec3'
            'art1   art1  '
            'art2   art2'
            'footer footer';
        }
    
        header, section, article, footer{
            border: 3px solid pink;
            background-color: lightpink;
            color: palevioletred;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        
}

