*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    height: 2000px;
}

div{
    width: 200px;
    height: 200px;
    border: 2px solid white;
    
}

.boxe1{
    background-color: blueviolet;
    width: 100%;
    
    
    /* position: fixed ;
    top: 150px;
    left: 150px;
    z-index:2; */
    
}
.boxe2{
    background-color: coral;
    /* position: fixed ;
    top: 200px;
    left: 200px;
    z-index: 1; */
    float: left;
    width: 25%;
    height: 700px;
    
}

.boxe3{
    background-color: aqua;
    float: left;
    width: 50%;
    height: 700px;
    /* position: fixed ;
    top: 250px;
    left: 250px;
    z-index: 0; */
    
}
.boxe4{
    background-color: chartreuse;
    float: left;
    height: 700px;
    width: 25%;


}
.boxe5{
    background-color: white;
    width: 100%;
    height: 100px;
    clear: both;
}
h1{
    text-align: center;
    line-height: 150px;
    color:black
    }

 h2{
    padding: 20px;
    text-align: center;
    }

h3{

}
.fig{
    background-color: yellow;
    width: 150px;
    text-align: justify
    float: left;
}