table, th,td{
    border: 1px solid blue;
    border-collapse: collapse;    
}
h1,th,td, caption{
    color: white;
}

body{
    background-color: black;
}

.destaque{
    background-color: #292929;
}